<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
      <h1> Data from National Stock Exchange website </h1>

      <h2>To get list of symbols.</h2>
      <p>api: "http://127.0.0.1:5000/Symbols"
          <a href="http://127.0.0.1:5000/Symbols"> symbol list!</a> </p>


      <h2>To get list of symbols.</h2>

      <p>api: "http://127.0.0.1:5000/Stock_Details/&ltSYMBOL&gt"
          <a href="http://127.0.0.1:5000/Stock_Details/ADANIGAS"> Details!</a> </p>
      </p>




  </body>
</html>
